<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>No Spine Detection</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-900 text-white">
  <div class="min-h-screen flex flex-col justify-center items-center">
    <h1 class="text-4xl font-bold mb-8 text-red-600">You have input some random image</h1>
    <a href="/" class="py-2 px-4 bg-blue-600 hover:bg-blue-700 rounded-md text-white font-semibold">
        Upload Another Image
    </a>
    <a target="_blank" class="underline text-blue-500 leading-relaxed p-8" href="https://drive.google.com/drive/folders/1uVPdIQjFqYLv0Db68JU58oHV7dQTb597?usp=sharing">
        Check Sample Images
    </a>
  </div>
</body>

<script>
  function handle(){
    const button = document.getElementById("button");
    button.style.cursor = "not-allowed";
    button.style.background = "gray";
  }
</script>

</html>